.page-login {
	.app-logo{
		text-align: center;
		margin-top:100px;
	}

	.login-form-area{
		margin-top:50px;

		input {
			text-align: left;
		}

		ion-item{
			margin-bottom:10px;
		}

		button{
			height: 45px !important;
			margin-top:30px !important;
		}
	}
}