.page-supplierdetails {

	.list-item-title{
		font-size: 12px;
	    margin-bottom: 10px;
	    color: #999;
	}

	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	
}
